name: POVL #Multi-Modal Manouvre and Trajectory Prediction
ref: TPMs.POVL.model.POVL
hyperparams:
  layer number: 2
  model dim: 512
  feedforward dim: 128
  classifier dim: 256
  head number: 8
  probabilistic output: True
  number of modes: 3
  manouvre per mode: 3 # = number of change period+1
  time prediction: 'regression'
optimizer: torch.optim.Adam
man loss function: TPMs.POVL.functions.MTPM_loss
traj loss function: torch.nn.MSELoss
model training function: TPMs.POVL.functions.POVL_training
model evaluation function: TPMs.POVL.functions.POVL_evaluation
model deploy function: TPMs.POVL.functions.POVL_deploy
model kpi function: TPMs.POVL.kpis.POVL_kpis
data type: 'state'
state type: 'povl'
